<!--
  Generated template for the HomeResidencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Datos de mi residencia</ion-title>
  </ion-navbar>

</ion-header> -->

<ion-tabs>
  <ion-tab [root]="residenceViewRoot" tabTitle="Mi Residencia" [rootParams]="resParams" tabIcon="home"></ion-tab>    
  <ion-tab [root]="residentViewRoot" tabTitle="Mi Perfil" [rootParams]="resParams" tabIcon="contact"></ion-tab>    
  <ion-tab [root]="reqlistResidenceRoot" [rootParams]="resParams" tabTitle="Mis Solicitudes" tabIcon="logo-buffer"></ion-tab>
  <ion-tab [root]="notificationRoot" tabTitle="Mis Notificaciones" tabIcon="information-circle"></ion-tab>
  <ion-tab tabTitle="Logout" tabIcon="exit" (ionSelect)="goExit()"></ion-tab>
</ion-tabs>

<!-- <ion-content padding>
      <ion-item >
        <b>Residencia: </b>{{userResidence.residence_name}} <br/>
      </ion-item>
      <ion-item >
        <b>Dirección:</b> {{userResidence.residence_address}}<br/>
      </ion-item>
      <ion-item >
        <b>Eslogan: </b>{{userResidence.residence_slogan}}<br/>
      </ion-item>
      <ion-item >
        <b>Name:</b> {{resident.name}}<br/>
      </ion-item>
      <ion-item >
        <b>Apellido:</b> {{resident.last_name}}<br/>
      </ion-item>
      <ion-item >
          <b>Email:</b> {{resident.email}}<br/>
      </ion-item>
      <ion-item >
        <b>Teléfono:</b> {{resident.phone}}<br/>
      </ion-item>
      <ion-item >
        <b>Número de departamento:</b>{{resident.apartment_number}}<br/>
      </ion-item>
      <ion-item >
        <b>Placa:</b> {{resident.car_identifier}}<br/>
      </ion-item>
      <ion-item *ngIf="resident.pets == true; else otherCon" >
        <b>Tiene mascota:</b>Si<br/>
      </ion-item>
      <ng-template #otherCon>
        <ion-item >
          <b>Tiene mascota:</b>No<br/>
        </ion-item>
      </ng-template>
      <ion-item *ngIf="resident.owner == true; else otherCon1" >
        <b>Propietario:</b> Si<br/>
      </ion-item>
      <ng-template #otherCon1>
        <ion-item>
          <b>Propietario:</b>No<br/>
        </ion-item>
      </ng-template>
</ion-content>
<ion-footer>
    <ion-toolbar position="bottom">
      <ion-buttons end>
        <button ion-button icon-only (click)="goHome()" >
          <ion-icon name="home" ></ion-icon>
      </button>
      <button ion-button icon-only (click)="goRequestList()">
          <ion-icon ios="logo-buffer" md="logo-buffer"  ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->