<!--
  Generated template for the RequestDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle de solicititud</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <p>
        <b>Fecha:</b> {{ request.timestamp | date:"dd/MM/yyyy HH:mm:ss" }} <br/>
        <b>Motivo:</b> {{ request.reason }} <br/>
        <b>Descripción:</b> {{ request.description }} <br/>
        <b>Usuario:</b> {{ request.userEmail }} <br/>
        <b>Estado:</b> {{ request.status }}
    </p>
    <div *ngIf="addComment == true ">
    <ion-list >
        <ion-item>
          <ion-label color="primary" stacked> Adicionar comentario</ion-label>
          <ion-input type="text" [(ngModel)]="comment.description"  
          placeholder="Adicionar comentario"></ion-input>
        </ion-item> 
    </ion-list >
    <button ion-button full (click)="save()">Guardar</button>
    <br/>
    </div>
    <b>Histórico de comentarios:</b>
    <ion-list>
        <ion-item-sliding #item *ngFor="let comment of commentList">
          <ion-item >
              <p>
                  <b>Fecha:</b> {{ comment.timestamp | date:"dd/MM/yyyy HH:mm:ss" }} <br/>
                  <b>Usuario:</b> {{ comment.userEmail }} <br/>
                  <b>Comentario:</b> {{ comment.description }} <br/>
              </p>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
</ion-content>
